h1 {
	font-size: 5em;
}

#content {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.container {
	padding: 20px;
	padding-bottom: 30px;
}

#tabl {
	display: none;
}

table {
	width: 100%;
	text-align: center;
	padding: 10px 10px 10px 10px;
}

th {
	text-align: right;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	height: 5vh;
}